.yazi{
    text-align: center;
    font-size: 2rem;
    width: 50vw;
    margin: 2rem auto;
    transition: all 1s;
}
/* ROTATE */
.yazi1{
    background-color: greenyellow;
    transform: rotateX(180deg);
      /* ! 90 ve 270 derecelerde yazılar tam dik olduklarından 
      ve 3-boyutlu olarak bakamadığımız için gözükmezler */
}
.yazi2{
    background-color: tomato;
    transform: rotateY(180deg);
}   
.yazi3{
    background-color: hotpink;
    transform: rotate(-45deg);
}

/* SCALE */
.yazi4:hover {
    background-color: indianred;
    transform: scaleX(1.25) scaleY(1.5)
}
.yazi5{
    background-color: fuchsia;
    /* transform: scaleY(1.5); */
}
.yazi5:active {
    transform: scale(1.1);
    transform: scale(98%);
}

/* TRANLATE -- TRANSITION */

.translate{
    background-color: gold;
    font-weight: 800;
    font-size: 1.1rem;
    width: 100px;
    height: 50px;
    margin: 10px;
    transition: background-color 1s, transform 1s;
    
}
.x{
    transition: transform 1s;
}
/* .x:active{
    transform: scale(50%);
} */
.x:hover {
    transform: translateX(50px) scale(90%);
    background-color: greenyellow;
    

}
.y:active {
    transform: translateY(-50px);
    background-color: aqua;
    

}
.xy:active {
    transform: translate(50px, 50px);
    background-color: chocolate;
}
.btn{
    padding: 1rem;
    width: 6rem;
    background-color: goldenrod;
    border: none;
    font-size: 1.2rem;
    border-radius: 10px;
    transition: background-color 0.5s, color 0.5s;
    font-weight: 800;
}
.btn:hover{
    background-color: rgb(92, 82, 30);
    color: white;
}
.btn:active{
    transform: scale(98%);
}