* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(4, 25vh); */
  grid-template-rows: 25vh repeat(3, calc(25vh - 0.5rem));
  /* grid-template-rows: calc(100vh - 1.5rem); */
  row-gap: 0.5rem;
  column-gap: 0.5rem;
  /* gap: 1rem; */
}
.content {
  background-color: lightcyan;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.c6 {
  /*! ıtem ları bireysel olarak yatay düzlemde hizalar*/
  justify-self: center;
  width: 6rem;
}
.c11 {
  /*! ıtem ları bireysel olarak yatay düzlemde hizalar*/
  align-self: center;
  height: 3rem;
}
.c1 {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: coral;
}
.c4 {
  grid-row-start: 2;
  grid-row-end: 4;
  background-color: crimspn;
}
.c8 {
  background-color: darkgoldenrod;
  /* grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 5; */
  grid-area: 3 / 2 / 5 / 4;
  /*! grid-area: row-star / col-starr / row-end / col-end*/
}
.c2 {
  background-color: darkkhaki;
  grid-area: 1/3 / span 2 / span 2;
}
.content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
