.main{
    background-color: aqua;
    width: 100%;
    height: 1000px;
    margin: 30px;
    padding: 5px;
    position: relative;
}
.box1{
    width: 100px;
    height: 100px;
    background-color: rgba(255, 0, 255, 0.801);
}
.box2{
    width: 100px;
    height: 100px;
    background-color: rgba(0, 89, 255, 0.795);
    position:relative;
    /* top:20px;
    left: 30px; */
}
.box3{
    width: 100px;
    height: 100px;
    background-color: rgba(77, 197, 73, 0.726);
    /* position: absolute; */
    top: 20px;
    left: 80px;
}
#icerde{
    width: 30px;
    height: 30px;
    background-color: brown;
    position: absolute;
    bottom:0;
    right: 0; 
}
#icerde2{
    width: 30px;
    height: 30px;
    background-color: rgb(163, 165, 42);
    position: absolute;
    bottom:0;
    left: 0; 
}