/*COMBINATORS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Descendent Selector*/
/* .kutu p {
    color: red;
}  */

/*Child Selector Parent ı kutu olan tüm p leri seç*/
/* .kutu > p {
    color: green;
} */

/* Adjacent Sibling h1 elementi kapnadıktan sonraki ilk p elementini deçer*/
h1 + p {
    color: chocolate ;
}

/* General Sibling selector adjacent ile eşit seviyede olduğundan ve de ondan altta geldiğinden ezer*/
h1 ~ p {
    color: chartreuse;
}h3{
    border: 1px solid red;
    margin: 1rem;
    outline: 2px solid blue;
    outline-offset: 1rem;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
}