*{
    margin: 0;
}
html{
    font-size: 30px;
}
body{
    height: 100vh;
    border: 2px solid red;
    /* The body browser does not close the entire program by default. Height: 100vh should be used for this..*/
    /* background-color:darksalmon; */
    
}
.abs{
    background-color: aqua;
    width: 5cm;
}
.div2{
    background-color: chocolate;
    width: 50%;
    height: 70%;
} 
.div3{
    background-color: yellow;
    width: 50%;
    height: 30%;
    height: 80%;
    /* Since the same feature is used in the same class and the codes are read from top to bottom, it first applies 30% to height, then 80% as above.*/
}
.div4{
    background-color: darkmagenta;
    width: 56vw;
}
.div5{
    font-size: 1em; /*16 px*/
}
.div6{
    font-size: 2em; /*32 px*/
}
.div7{
    font-size: 3em; /*96 px* div6* 3*/
}
.div8{
    font-size: 0.5em; /*96 px* div7/0.5  */
}
.div9{
    font-size: 1rem; /*16 px*/
}
.div10{
    font-size: 2rem; /*32 px*/
}
.div11{
    font-size: 3rem; /*96 px* div10* 3*/
}
.div12{
    font-size: 0.5rem; /*96 px* div11/0.5  */
}